# Data Import

In [3]:
import pandas as pd

In [4]:
accident2020_file = r"C:\Users\Clayg\OneDrive\Desktop\College\Fall 25 classes\Machine Learning\RawData\FARS2020NationalCSV\accident.csv"
accident2021_file = r"C:\Users\Clayg\OneDrive\Desktop\College\Fall 25 classes\Machine Learning\RawData\FARS2021NationalCSV\accident.csv"
accident2022_file = r"C:\Users\Clayg\OneDrive\Desktop\College\Fall 25 classes\Machine Learning\RawData\FARS2022NationalCSV\accident.csv"

In [31]:
accident2020 = pd.read_csv(accident2020_file, encoding='ISO-8859-1')
accident2021 = pd.read_csv(accident2021_file, encoding='ISO-8859-1')
accident2022 = pd.read_csv(accident2022_file, encoding='ISO-8859-1')

In [32]:
accident2020_cols = accident2020.columns.tolist()
accident2021_cols = accident2021.columns.tolist()
accident2022_cols = accident2022.columns.tolist()

In [33]:
print(f"All the columns in the dataframes are the same: {accident2020_cols == accident2021_cols == accident2022_cols}")

All the columns in the dataframes are the same: False

In [34]:
for col in accident2020_cols:
    if col not in accident2021_cols:
        print (f"Column {col} in 2020 is not in 2021")
    if col not in accident2022_cols:
        print (f"Column {col} in 2020 is not in 2022")

for col in accident2022_cols:
    if col not in accident2020_cols:
        print (f"Column {col} in 2021 is not in 2020")
    if col not in accident2022_cols:
        print (f"Column {col} in 2021 is not in 2022")

for col in accident2022_cols:
    if col not in accident2021_cols:
        print (f"Column {col} in 2022 is not in 2021")
    if col not in accident2020_cols:
        print (f"Column {col} in 2022 is not in 2020")

Column DRUNK_DR in 2020 is not in 2021
Column DRUNK_DR in 2020 is not in 2022

In [35]:
accident2020 = accident2020.drop("DRUNK_DR", axis=1)

In [39]:
combined_df = pd.concat([accident2020, accident2021, accident2022], axis=0, ignore_index=True)

In [40]:
combined_df.head()

,STATE,STATENAME,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,...,NOT_MINNAME,ARR_HOUR,ARR_HOURNAME,ARR_MIN,ARR_MINNAME,HOSP_HR,HOSP_HRNAME,HOSP_MN,HOSP_MNNAME,FATALS
0,1,Alabama,10001,1,1,0,0,0,4,4,...,Unknown,3,3:00am-3:59am,10,10,99,Unknown,99,Unknown EMS Hospital Arrival Time,3
1,1,Alabama,10002,4,4,0,0,0,6,6,...,18,17,5:00pm-5:59pm,26,26,99,Unknown,99,Unknown EMS Hospital Arrival Time,1
2,1,Alabama,10003,2,2,0,0,0,2,2,...,58,15,3:00pm-3:59pm,15,15,99,Unknown,99,Unknown EMS Hospital Arrival Time,1
3,1,Alabama,10004,1,1,0,0,0,5,5,...,Unknown,99,Unknown EMS Scene Arrival Hour,99,Unknown EMS Scene Arrival Minutes,99,Unknown,99,Unknown EMS Hospital Arrival Time,1
4,1,Alabama,10005,1,1,0,0,0,1,1,...,45,0,0:00am-0:59am,55,55,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),1

In [49]:
county_values = combined_df["COUNTY"].unique().tolist()
print(type(county_values[0]))

<class 'int'>

In [62]:
state_mask = combined_df["STATENAME"] == "New York"
newyork_df = combined_df[state_mask]

In [63]:
len(newyork_df)

3161