In [98]:
%load_ext autoreload
%autoreload 2

import os
import sys
import pandas as pd
import numpy as np
    
parent_dir = os.path.abspath(r'C:\Users\Clayg\OneDrive\Desktop\College\Fall 25 classes\Machine Learning\CS-3120-Project')

if parent_dir not in sys.path:
    sys.path.append(parent_dir)


from DataPipeline import pipeline
from MappingPipeline import mappingPipeline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [99]:
folder_paths= [r"C:\Users\Clayg\OneDrive\Desktop\College\Fall 25 classes\Machine Learning\RawData\FARS2020NationalCSV",
               r"c:\Users\Clayg\OneDrive\Desktop\College\Fall 25 classes\Machine Learning\RawData\FARS2021NationalCSV",
               r"c:\Users\Clayg\OneDrive\Desktop\College\Fall 25 classes\Machine Learning\RawData\FARS2022NationalCSV"]

In [100]:
Pipeline = pipeline(folder_paths)

In [101]:
directory = Pipeline.df_list

df2020 = directory[2020]
df2021 = directory[2021]
df2022 = directory[2022]

In [102]:
df = pd.concat([df2020, df2021, df2022])

In [103]:
print(df.columns.to_list())

['ST_CASE', 'VEH_NO', 'OWNER', 'MOD_YEAR', 'VPICBODYCLASS', 'GVWR_FROM', 'GVWR_TO', 'J_KNIFE', 'TRAV_SP', 'DR_DRINK', 'L_STATUS', 'PREV_SPD', 'PREV_OTH', 'SPEEDREL', 'VE_TOTAL', 'VE_FORMS', 'HOUR', 'LGT_COND', 'RUR_URB', 'FUNC_SYS', 'YEAR', 'HARM_EV', 'MAN_COLL', 'RELJCT2', 'TYP_INT', 'REL_ROAD', 'WEATHER', 'VNUMBER2']

In [104]:
mapping = mappingPipeline()

df = mapping.assign_mappings(df)

In [105]:
df = df.drop_duplicates()

## Feature Engineering

Age of veh:

In [78]:
def ageCalc(row):
    if row['MOD_YEAR'] == 999:
        return 999
    else:
        age = row['YEAR']-row['MOD_YEAR']
        return age

In [79]:
df['VEH_AGE'] = df.apply(ageCalc, axis=1)

ISMOTO (is a motorcycle)

In [80]:
motorcycle_codes = [12,69,80,81,82,83,84,87,88,90,94,109,110,113,114,125,996]
df['ISMOTO'] = df['VPICBODYCLASS'].isin(motorcycle_codes)

Speed of other vehicle (if vehicle 1 is a motorcyle)

**Gemini assisted in suggesting and creating the indexing code. It also created the try/except block for code safety**

In [81]:
def otherVehSpeed(row):

    if row["ISMOTO"]:
        veh_num = row["VNUMBER2"]
        year = row["YEAR"]
        case_num = row['ST_CASE']
        try:
            # This is the line that might fail
            other_veh_speed = df_indexed.loc[(year, case_num, veh_num), "TRAV_SP"]

            if isinstance(other_veh_speed, pd.Series):
                return other_veh_speed.iloc[0]
            else: return other_veh_speed
            
            
        except KeyError:
            # This runs if the .loc[] lookup fails to find a match
            return np.nan  # Or 888, 999, or another "not found" code

    else: return np.nan

In [82]:
df_indexed = df.set_index(["YEAR", "ST_CASE", "VEH_NO"])
df_indexed = df_indexed.sort_index()

In [83]:
df['OTHER_VEH_SP'] = df.apply(otherVehSpeed, 1)

Weight class of other vehicle

In [84]:
def otherVehGVWR_FROM(row):

    if row["ISMOTO"]:
        veh_num = row["VNUMBER2"]
        year = row["YEAR"]
        case_num = row['ST_CASE']
        try:
            # This is the line that might fail if it fails to find a match
            other_veh_GVWR_FROM = df_indexed.loc[(year, case_num, veh_num), "GVWR_FROM"]
            
            if isinstance(other_veh_GVWR_FROM, pd.Series):
                return other_veh_GVWR_FROM.iloc[0]
            else: return other_veh_GVWR_FROM
            
            
        except KeyError:

            return np.nan

    else: return np.nan

In [85]:
def otherVehGVWR_TO(row):

    if row["ISMOTO"]:
        veh_num = row["VNUMBER2"]
        year = row["YEAR"]
        case_num = row['ST_CASE']
        try:
            # This is the line that might fail if it failes to find a match
            other_veh_GVWR_TO = df_indexed.loc[(year, case_num, veh_num), "GVWR_TO"]
            
            if isinstance(other_veh_GVWR_TO, pd.Series):
                return other_veh_GVWR_TO.iloc[0]
            else: return other_veh_GVWR_TO
            
            
        except KeyError:

            return np.nan

    else: return 0

In [86]:
df['OTHER_VEH_GVWR_FROM'] = df.apply(otherVehGVWR_FROM, 1)

In [87]:
df['OTHER_VEH_GVWR_TO'] = df.apply(otherVehGVWR_TO, 1)

**Code generated by Gemini to utilize faster vectorized functions**

In [97]:
# Create a mask where both columns are NOT NaN
mask1 = df['OTHER_VEH_GVWR_FROM'].notna() & df['OTHER_VEH_GVWR_FROM'] != 999
mask1 = df['OTHER_VEH_GVWR_TO'].notna() & df['OTHER_VEH_GVWR_TO'] != 999
combined_mask = mask1 & mask2

# Calculate the average only where the mask is True
df['OTHER_VEH_AVG_WEIGHT'] = np.where(
    mask,
    (df['OTHER_VEH_GVWR_FROM'] + df['OTHER_VEH_GVWR_TO']) / 2,
    999
)

KeyError: 'OTHER_VEH_GVWR_FROM'

Drop rows where ISMOTO is false, leaving us only with motorcycle data

In [89]:
df = df[df["ISMOTO"]]

We're going to drop all the columns that have helped us feature engineer but are no longer useful for model building

In [90]:
df.head()

,ST_CASE,VEH_NO,OWNER,MOD_YEAR,VPICBODYCLASS,GVWR_FROM,GVWR_TO,J_KNIFE,TRAV_SP,DR_DRINK,...,TYP_INT,REL_ROAD,WEATHER,VNUMBER2,VEH_AGE,ISMOTO,OTHER_VEH_SP,OTHER_VEH_GVWR_FROM,OTHER_VEH_GVWR_TO,OTHER_VEH_AVG_WEIGHT
0,10087,1,2,1998,94,11,11,0,60,1,...,1,3,4,0,22.0,True,NaN,NaN,NaN,NaN
2,10114,1,1,2012,94,11,11,0,0,0,...,1,1,4,0,8.0,True,NaN,NaN,NaN,NaN
3,10114,1,1,2012,94,11,11,0,0,0,...,1,1,4,2,8.0,True,30.0,18.0,18.0,18.0
7,10201,2,2,2000,82,11,11,0,75,0,...,3,1,1,1,20.0,True,0.0,0.0,0.0,0.0
8,10201,2,2,2000,82,11,11,0,75,0,...,3,1,1,0,20.0,True,NaN,NaN,NaN,NaN

In [91]:
print(df.columns.tolist())

['ST_CASE', 'VEH_NO', 'OWNER', 'MOD_YEAR', 'VPICBODYCLASS', 'GVWR_FROM', 'GVWR_TO', 'J_KNIFE', 'TRAV_SP', 'DR_DRINK', 'L_STATUS', 'PREV_SPD', 'PREV_OTH', 'SPEEDREL', 'VE_TOTAL', 'VE_FORMS', 'HOUR', 'LGT_COND', 'RUR_URB', 'FUNC_SYS', 'YEAR', 'HARM_EV', 'MAN_COLL', 'RELJCT2', 'TYP_INT', 'REL_ROAD', 'WEATHER', 'VNUMBER2', 'VEH_AGE', 'ISMOTO', 'OTHER_VEH_SP', 'OTHER_VEH_GVWR_FROM', 'OTHER_VEH_GVWR_TO', 'OTHER_VEH_AVG_WEIGHT']

In [92]:
cols_to_drop = ['MOD_YEAR', 'VPICBODYCLASS', 'VNUMBER2', 'ISMOTO', 'OTHER_VEH_GVWR_FROM', 'OTHER_VEH_GVWR_TO', 'GVWR_FROM', 'GVWR_TO', 'YEAR']
df = df.drop(columns=cols_to_drop)

In [93]:
print(df.columns.tolist())

['ST_CASE', 'VEH_NO', 'OWNER', 'J_KNIFE', 'TRAV_SP', 'DR_DRINK', 'L_STATUS', 'PREV_SPD', 'PREV_OTH', 'SPEEDREL', 'VE_TOTAL', 'VE_FORMS', 'HOUR', 'LGT_COND', 'RUR_URB', 'FUNC_SYS', 'HARM_EV', 'MAN_COLL', 'RELJCT2', 'TYP_INT', 'REL_ROAD', 'WEATHER', 'VEH_AGE', 'OTHER_VEH_SP', 'OTHER_VEH_AVG_WEIGHT']

In [94]:
df.head()

,ST_CASE,VEH_NO,OWNER,J_KNIFE,TRAV_SP,DR_DRINK,L_STATUS,PREV_SPD,PREV_OTH,SPEEDREL,...,FUNC_SYS,HARM_EV,MAN_COLL,RELJCT2,TYP_INT,REL_ROAD,WEATHER,VEH_AGE,OTHER_VEH_SP,OTHER_VEH_AVG_WEIGHT
0,10087,1,2,0,60,1,1,2,1,1.0,...,3,1.0,9,1,1,3,4,22.0,NaN,NaN
2,10114,1,1,0,0,0,1,0,0,1.0,...,3,4.0,8,1,1,1,4,8.0,NaN,NaN
3,10114,1,1,0,0,0,1,0,0,1.0,...,3,4.0,8,1,1,1,4,8.0,30.0,18.0
7,10201,2,2,0,75,0,1,1,0,1.0,...,3,4.0,6,2,3,1,1,20.0,0.0,0.0
8,10201,2,2,0,75,0,1,1,0,1.0,...,3,4.0,6,2,3,1,1,20.0,NaN,NaN

Safe the dataframe as a csv for easy exploration

In [95]:
file_path_output = r"C:\Users\Clayg\OneDrive\Desktop\College\Fall 25 classes\Machine Learning\CS-3120-Project\GeneratedData\\GeneratedMotorcycleData"

In [96]:
df.to_csv(file_path_output, index=False)
print(f"File successfully saved to: {file_path_output}")

File successfully saved to: C:\Users\Clayg\OneDrive\Desktop\College\Fall 25 classes\Machine Learning\CS-3120-Project\GeneratedData\\GeneratedMotorcycleData