This notebook will be largely for a statistical approach to exploring the data generated in DataImport

In [9]:
import pandas as pd
import scipy
import seaborn as sns
import matplotlib as plt
import sklearn

ModuleNotFoundError: No module named 'sklearn'

In [10]:
filename = r"C:\Users\Clayg\OneDrive\Desktop\College\Fall 25 classes\Machine Learning\CS-3120-Project\GeneratedData\GeneratedMotorcycleData"

In [11]:
df = pd.read_csv(filename)

In [15]:
df.head()

,ST_CASE,VEH_NO,OWNER,J_KNIFE,TRAV_SP,DR_DRINK,L_STATUS,PREV_SPD,PREV_OTH,SPEEDREL,...,FUNC_SYS,HARM_EV,MAN_COLL,RELJCT2,TYP_INT,REL_ROAD,WEATHER,VEH_AGE,OTHER_VEH_SP,OTHER_VEH_AVG_WEIGHT
0,10087,1,2,0,60,1,1,2,1,1.0,...,3,1.0,9,1,1,3,4,22.0,NaN,NaN
1,10114,1,1,0,0,0,1,0,0,1.0,...,3,4.0,8,1,1,1,4,8.0,NaN,NaN
2,10114,1,1,0,0,0,1,0,0,1.0,...,3,4.0,8,1,1,1,4,8.0,30.0,18.0
3,10201,2,2,0,75,0,1,1,0,1.0,...,3,4.0,6,2,3,1,1,20.0,0.0,0.0
4,10201,2,2,0,75,0,1,1,0,1.0,...,3,4.0,6,2,3,1,1,20.0,NaN,NaN

In [17]:
print(df.shape)

(20341, 25)

In [13]:
col_names = df.columns.tolist()
print(col_names)

['ST_CASE', 'VEH_NO', 'OWNER', 'J_KNIFE', 'TRAV_SP', 'DR_DRINK', 'L_STATUS', 'PREV_SPD', 'PREV_OTH', 'SPEEDREL', 'VE_TOTAL', 'VE_FORMS', 'HOUR', 'LGT_COND', 'RUR_URB', 'FUNC_SYS', 'HARM_EV', 'MAN_COLL', 'RELJCT2', 'TYP_INT', 'REL_ROAD', 'WEATHER', 'VEH_AGE', 'OTHER_VEH_SP', 'OTHER_VEH_AVG_WEIGHT']

Create column categories for statistical testing

In [18]:
ordinal = ['TRAV_SP', 'PREV_SPD', 'PREV_OTH', 'VE_TOTAL', 'VE_FORMS', 'HOUR', 'VEH_AGE', 'OTHER_VEH_SP', 'OTHER_VEH_AVG_WEIGHT']
nominal = ['OWNER', 'J_KNIFE', 'DR_DRINK', 'L_STATUS', 'SPEEDREL', 'LGT_COND', 'RUR_URB', 'FUNC_SYS', 'HARM_EV', 'MAN_COLL', 'RELJCT2', 'TYP_INT', 'REL_ROAD', 'WEATHER']

In [27]:
for col in ordinal:
    unique_vals = df[col].unique().tolist()
    print(f"Column {col} has unique vals: {unique_vals}")

Column TRAV_SP has unique vals: [60, 0, 75, 55, 40, 30, 70, 25, 85, 120, 35, 45, 20, 90, 65, 10, 50, 98, 15, 100, 80, 95, 49, 59, 89, 93, 42, 24, 37, 32, 5, 84, 44, 52, 47, 61, 68, 125, 76, 51, 36, 74, 46, 77, 48, 81, 64, 124, 43, 140, 53, 73, 79, 58, 62, 38, 63, 28, 18, 33, 110, 71, 1, 78, 106, 67, 96, 130, 137, 119, 102, 72, 8, 105, 57, 12, 3, 87, 31, 92, 41, 29, 56, 23, 88, 34, 112, 104, 94, 118, 115, 99, 69, 66, 22, 2, 113, 150, 86, 128, 82, 83, 54, 141, 107, 19, 4, 13, 122, 14, 127, 39, 26, 27, 97, 9, 91, 103, 16, 147, 108, 136, 134, 117, 139, 21]
Column PREV_SPD has unique vals: [2, 0, 1, 3, 4, 5, 6, 9, 7, 8]
Column PREV_OTH has unique vals: [1, 0, 2, 6, 4, 3, 7, 5, 9, 35, 12, 19, 10, 11, 15, 8, 21, 14, 16, 13]
Column VE_TOTAL has unique vals: [1, 2, 5, 3, 4, 8, 6, 7, 11]
Column VE_FORMS has unique vals: [1, 2, 5, 3, 4, 8, 7, 6, 11]
Column HOUR has unique vals: [24, 12, 19, 21, 15, 16, 20, 13, 11, 17, 14, 9, 2, 23, 7, 10, 18, 4, 8, 22, 6, 5, 3, 0, 1]
Column VEH_AGE has unique vals: [22.0, 8.0, 20.0, 4.0, 18.0, 5.0, 14.0, 2.0, 15.0, 16.0, 0.0, 9.0, 13.0, 1.0, 10.0, 11.0, 999.0, 3.0, 6.0, 12.0, 50.0, 7.0, 17.0, 21.0, 24.0, 26.0, 19.0, 37.0, -2.0, 35.0, 31.0, 28.0, 23.0, 40.0, 27.0, 29.0, 33.0, 30.0, 32.0, 49.0, 34.0, 44.0, -1.0, 25.0, 48.0, 39.0, 41.0, 42.0, 38.0, 36.0, 43.0, 46.0, 47.0, 69.0, 45.0, 52.0, 67.0, 70.0, 56.0, 55.0, 51.0, 54.0, 60.0]
Column OTHER_VEH_SP has unique vals: [nan, 30.0, 0.0, 55.0, 40.0, 10.0, 5.0, 14.0, 35.0, 25.0, 15.0, 20.0, 50.0, 12.0, 45.0, 22.0, 59.0, 17.0, 33.0, 24.0, 37.0, 39.0, 60.0, 43.0, 52.0, 47.0, 8.0, 16.0, 70.0, 51.0, 80.0, 65.0, 18.0, 53.0, 6.0, 63.0, 48.0, 38.0, 68.0, 11.0, 42.0, 75.0, 3.0, 13.0, 2.0, 28.0, 19.0, 23.0, 73.0, 44.0, 67.0, 90.0, 61.0, 102.0, 1.0, 100.0, 77.0, 105.0, 7.0, 57.0, 21.0, 31.0, 78.0, 79.0, 56.0, 26.0, 49.0, 4.0, 9.0, 74.0, 83.0, 58.0, 29.0, 71.0, 46.0, 34.0, 41.0, 95.0, 120.0, 62.0, 85.0, 72.0, 27.0, 82.0, 64.0, 96.0, 88.0, 130.0, 69.0, 89.0, 107.0, 54.0, 110.0, 66.0]
Column OTHER_VEH_AVG_WEIGHT has unique vals: [nan, 18.0, 0.0, 11.0, 12.0, 13.0, 17.0, 15.0, 16.0, 11.5, 17.5, 14.0, 15.5]

## NM